server:
  port: 8000

spring:
  datasource:
    username: root
    password: root
    url: jdbc:mysql://47.103.221.135:3306/mall_ums
    driver-class-name: com.mysql.cj.jdbc.Driver
  cloud:
    nacos:
      discovery:
        server-addr: 47.103.221.135:8848
  application:
    name: mall-member
  session:
    store-type: redis

  redis:
    host: 47.103.221.135


mybatis-plus:
  mapper-locations: classpath:/mapper/**/*.xml
  global-config:
    db-config:
      id-type: auto
