spring:
  cloud:
    gateway:
      routes:
#        - id: test_route
#          uri: https://baidu.com
#          predicates:
#            - Query=url,baidu
#
#        - id: qq_route
#          uri: https://qq.com
#          predicates:
#            - Query=url,qq

        - id: product_route
          uri: lb://mall-product
          predicates:
            - Path=/api/product/**
          filters:
            - RewritePath=/api/(?<segment>/?.*), /$\{segment}

        - id: third-party-route
          uri: lb://mall-third-party
          predicates:
            - Path=/api/thirdparty/**
          filters:
            - RewritePath=/api/thirdparty/(?<segment>/?.*), /$\{segment}

        - id: member_route
          uri: lb://mall-member
          predicates:
            - Path=/api/member/**
          filters:
            - RewritePath=/api/(?<segment>/?.*), /$\{segment}


        - id: admin_route
          uri: lb://renren-fast
          predicates:
            - Path=/api/**
          filters:
            - RewritePath=/api/(?<segment>/?.*), /renren-fast/$\{segment}



## 前端项目, /api
## http://localhost:88/api/product/category/list/tree
## http://localhost:10000/renren-fast/product/category/list/tree